{ 
   "core": {
      "nickname": "foo",
      "realname": "bar",
      "log_file": "/path/to/nanobot/nanobot.log",
      "db": "/path/to/nanobot/database.sql"
   },
   "networks": [
      { 
         "name": "network", 
         "hostname": "irc.network.net", 
         "channels": [
	     {
		"name": "#yourbot-staging"
	     }
         ] 
      }
   ]
}
			
