core:
   nickname: nanobot
   realname: nanobot (https://bitbucket.org/nanonyme/nanobot)

networks:
 - server: irc.oftc.net
   port: 6667
   channels:
      - name: "#mytestchannel"

plugins:
 - base_url_handler